@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    /* 폰트 렌더링 최적화 (선택사항) */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    letter-spacing: 0.025rem;
}

/* 스피너 애니메이션 */
.spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner.center {
    position: absolute;
    inset: 0;
    margin: auto;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: #eee;
    transform-origin: center -0.2222em;
    animation: spinner-fade 1s infinite linear;
}

/* 스피너 블레이드 루프 */
.spinner .spinner-blade:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: 0s;
}

.spinner .spinner-blade:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: 0.083s;
}

.spinner .spinner-blade:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: 0.166s;
}

.spinner .spinner-blade:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: 0.249s;
}

.spinner .spinner-blade:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: 0.332s;
}

.spinner .spinner-blade:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: 0.415s;
}

.spinner .spinner-blade:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: 0.498s;
}

.spinner .spinner-blade:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: 0.581s;
}

.spinner .spinner-blade:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: 0.664s;
}

.spinner .spinner-blade:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: 0.747s;
}

.spinner .spinner-blade:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: 0.83s;
}

.spinner .spinner-blade:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0.913s;
}

@keyframes spinner-fade {
    0% {
        background-color: #69717d;
    }

    100% {
        background-color: transparent;
    }
}

/* 배경 효과 */
.bg-line {
    background-image: repeating-linear-gradient(315deg, currentColor 0 1px, #0000 0 50%);
}

.bg-radial {
    background-image: radial-gradient(circle, rgb(222, 223, 228) 1px, transparent 1px);
    background-repeat: repeat;
    background-size: 8px 8px;
    mask-image: radial-gradient(rgb(0, 0, 0), transparent 50%);
    opacity: 0.8;
}